---
import { getAllPosts, getUniqueTags, sortPostsByDate } from "@/utils/post";
import Layout from "@/layouts/Layout.astro";
import PostList from "@/components/PostList.astro";
import TagList from "@/components/TagList.astro";

const allPosts = await getAllPosts();
const sortPosts = sortPostsByDate(allPosts);
const allTags = getUniqueTags(allPosts);

const pageTitle = "Blog";
// TODO: setting meta
const meta = {
  title: "Blog - Rie",
  description: undefined,
};
---

<Layout meta={meta}>
  <h1>{pageTitle}</h1>
  <section class="tagSection">
    <h2>Tags</h2>
    <TagList tagList={allTags} limit={10} isRandom={true} />
  </section>
  <section class="postSection">
    <h2>Posts</h2>
    <PostList postList={sortPosts} isTagsVisible={true} />
  </section>
</Layout>

<style lang="scss">
  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
</style>
