---
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import "the-new-css-reset";

type SiteMeta = {
  title: string;
  description?: string;
  ogImage?: string | undefined;
  articleDate?: string | undefined;
};

interface Props {
  meta: SiteMeta;
}

const {
  meta: { title, description, ogImage, articleDate },
} = Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/profile_icon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8034589874906692"
      crossorigin="anonymous"></script>
  </head>
  <BaseHead title={title} description={description} articleDate={articleDate} ogImage={ogImage} />
  <body style="display: flex;">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>

  <style lang="scss" is:global>
    @font-face {
      font-family: "Rounded M+ 1c";
      src: url("/path-to-font/rounded-mplus-1c.ttf") format("truetype");
    }
    html {
      // font-family: "Zen Maru Gothic", sans-serif;
      // font-family: "Hiragino Maru Gothic Pro", "Yu Gothic UI", "Comic Sans MS", sans-serif;
      font-family: "Yu Gothic UI", sans-serif;
      font-display: swap;
      background-color: $background-light;
      color: $text-light;
    }

    body {
      display: flex;
      flex-direction: column;
      text-align: justify;
      max-width: $max-content-width;
      margin: 0 auto;
      min-height: 100vh;

      @include mediaQuery("sp") {
        width: $mobile-content-width;
      }
    }

    main {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin-bottom: 50px;
    }

    h1 {
      font-size: 2rem;
      font-weight: bold;
    }

    a:hover {
      opacity: 0.7;
    }
  </style>
</html>
